<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/About.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>About Me</h1>
        </div>
        <div class="content">
            <div class="article">
                <h1>About Developer </h1>
                <p text-justify>Welcome to the About Page of Satyam Gupta, the developer of a book recommender system based on machine learning!

Satyam Gupta is a 20-year-old student pursuing BScIT from Rizvi College in Mumbai, India. He has a keen interest in computer science and programming, with a particular focus on machine learning and data science.

Satyam has developed a book recommender system using machine learning algorithms that take into account a user's reading history, book ratings, and preferences to provide personalized book recommendations. The system is designed to help users discover new books that match their interests, making it easier for them to find their next favorite read.

With this project, Satyam has demonstrated his strong analytical and problem-solving skills, as well as his ability to apply machine learning techniques to solve real-world problems. He is committed to continuing to develop his skills and expertise in the field of machine learning, and hopes to apply his knowledge to create innovative solutions that benefit society.

</a>
                </p>
                <a href="mailto:sg8041211@gmail.com" class="button">Contact me</a>
            </div>
            <div class="image-section">
                <img src="/static/images/Satyam1.jpg">
            </div>
        </div>
    </div>
</body>

</html>